<!DOCTYPE html>
<html>
  <head>
    <title>AmplitudeJS Testing</title>

    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">


    <!-- Include Style Sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/playlist"class="nav-link">Playlists</a>
    <a href="/search"class="nav-link">Search</a>
    <a href="/library"class="nav-link">Library</a>
    <a href="/managelist"class="nav-link">Settings</a>
    <a href="/logout"class="nav-link">Logout</a>
  </div> 
  <body>
    <center>
    <h1>Welcome! What would you like to do?</h1>
    <h2>{{msg}}</h2>
    </center>

    <div class="song-to-add" song-to-add="2">
        <img src="https://m.media-amazon.com/images/I/A1LVEJikmZL._SX522_.jpg%22/%3E
        

        <a class="add-to-playlist-button" song-to-add="2">
          Add To Playlist
        </a>
      </div>

  </body>
</html>