

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Streamify Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>
  
  <div class="login">
    <h1>WELCOME TO STREAMIFY</h1>
    <h2>{{msg}}</h2>
    <form class="form-group" method="post" action="{{url_for('login')}}">
      <label>USERNAME:</label>
      <p><input type="text" class="form-control" name="username" placeholder="Username" id="username" required></p>
      <label>PASSWORD:</label>
      <p><input type="password" class="form-control" name="password" placeholder="Password" id="password" required></p>
      
      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me" value="checked">
          REMEMBER ME
        </label>
      </p>
      <p class="submit"><input type="submit" value="Login" class="form-control btn btn-success " name=""></p>
    </form>
  </div>
  
  <div class="login-help">
    <p>Forgot your password?  <a href="/retrieve" class="nav-link">CLICK HERE TO RETRIEVE PASSWORD</a>.</p>
  </div>
  <div class="login-help">
    <p>Not a user? <a href="/register" class="nav-link">CLICK HERE TO REGISTER</a>.</p>
  </div>
  
  