<!DOCTYPE html>
<html>
  <head>
    <title>AmplitudeJS Testing</title>

    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">


    <!-- Include Style Sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
 
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </head>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/statistics"class="nav-link">Statistics</a>
    <a href="/upload"class="nav-link">Upload Music</a>
    <a href="/managesongs"class="nav-link">Manage Songs</a>
    <a href="/managelist"class="nav-link">Settings</a>
    <a href="/logout"class="nav-link">Logout</a>
  </div> 
  <body>
  <!-- 
    <center>
    <h1>Reviewer Selection</h1>
    <form action="{{ url_for('search') }}" method="post" autocomplete="off"> 
      <p><input type="text" class="form-control" name="searchval" placeholder="Search" id="searchval" required></p>
        <input type="submit" value="Search" class="form-control btn btn-success " name="">
         
       </form>
       <h2>{{msg}}</h2>
        {% for result in results %}
          <h3>Title: {{result[0]}}</h3>
          <h3>Genre: {{result[1]}}</h3>
          <h3>Release Date: {{result[2]}}</h3>  
          <hr>
        {% endfor %}
      </center>
      -->
      <h1>Manage Songs</h1>
         <h2>{{msg}}</h2>

      <div class="col-md-8">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <tbody>
            {% for result in songs %}
            <tr>
              <td>{{result[0]}}</td>
              <td>{{result[1]}}</td>
              <td>{{result[2]}}</td>
              <td width="130">
                <a href="like/{{result[0]}}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="like/{{result[0]}}" class="btn btn-secondary btn-sm">Delete</a>
              </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>